body{
  background-color: #ade8f4;
}
.cont-box{
  height: 400px;
  width: 70%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginBox{
  border: 2px solid #3e3e3e;
  display: flex;
  align-items: center;
  justify-content: center;
  height:auto;
  width: 50%;
  flex-direction: column;
}
.inputT{
  border: 2px solid #1d1d1d;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  margin: 20px 0px;
}
.submitBtn{
  width: 230px;
  height: 40px;
  margin: 20px 0px;
  font-size: 20px;
  background-color: #ffd60a;
  border-radius: 5px;
}